body {
    display: grid;
    grid-template-columns: minmax(180px, 280px) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "aside header"
        "aside main";
    min-height: 100vh;
}

.icon {
    width: 30px;
    height: auto;
}

aside {
    grid-area: aside;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "logo"
        "main-menu"
        "secondary-menu";
    background-color: brown;
    row-gap: 2rem;
    padding: 1.5rem;
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 0.5rem;
}

.logo img {
    width: 50px;
    height: auto;
}

.main-menu {
    grid-area: main-menu;
}

.main-menu ul li a,
.secondary-menu ul li a {
    display: flex;
    gap: 1rem;
}

.secondary-menu {
    grid-area: secondary-menu;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 2rem;
    padding: 1.5rem;
    background-color: aliceblue;

}

.search-bar form {
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 100%;
}

.search-bar input {
    width: 80%;
    border-radius: 20px;
    background-color: rgb(212, 212, 212);
    border: none;
    height: 2.2rem;
}

.user-controls {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.profile-litle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.user-greeting {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-greeting img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

strong {
    font-size: 1.4rem;
}

.action-buttons {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.action-button {
    background-color: brown;
    height: 30px;
    width: 80px;
    border-radius: 20px;
    font-weight: bolder;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "projects announcements"
        "projects trending";
    background-color: rgb(212, 212, 212);
    padding: 1.5rem;
    gap: 1.5rem;
}

.projects {
    grid-area: projects;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem;
}

.card {
    padding: 2rem 1.5rem;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-left: 6px solid brown;
}

.card-actions {
    display: flex;
    gap: 1.5rem;
    justify-content: end;
}

.announcements {
    grid-area: announcements;
    display: flex;
    flex-direction: column;
}

.announcement+.announcement {
    border-top: 1px solid #e5e7eb;
    margin-top: .75rem;
    padding-top: .75rem;
}

.card-panel {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 2rem 1.5rem;
}


.trending {
    grid-area: trending;
}

.trending ul {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 10px;

}

.trend a {
    display: flex;
    gap: 1rem;
}

.profile {
    display: flex;
    flex-direction: column;
}

h2 {
    padding-bottom: 0.5rem;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}