body {
    display: grid;
    grid-template-columns: minmax(180px, 280px) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "aside header"
        "aside main";
    background-color: grey;
}

.icon {
    width: 30px;
    height: auto;
}

aside {
    grid-area: aside;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "logo"
        "main-menu"
        "secondary-menu";
    background-color: brown;
    row-gap: 2rem;
    padding: 1rem;
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 0.5rem;
}

.logo img {
    width: 50px;
    height: auto;
}

.main-menu {
    grid-area: main-menu;
}

.main-menu ul li a,
.secondary-menu ul li a {
    display: flex;
    gap: 1rem;
}

.secondary-menu {
    grid-area: secondary-menu;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 2rem;
    padding: 1rem;
    background-color: aliceblue;

}

.search-bar form {
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 100%;
}

.search-bar input {
    width: 80%;
    border-radius: 20px;
    background-color: rgb(212, 212, 212);
    border: none;
    height: 2.2rem;
}

.user-controls {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.user-controls img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.user-greeting {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-greeting img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.action-buttons {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.action-button {
    background-color: brown;
    height: 30px;
    width: 80px;
    border-radius: 20px;
}

main {
    grid-area: main;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}